# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps
.cache/

AS4SHA256/Binaries
AS6TrafficLight/Binaries
AS4SHA256/Temp
AS6TrafficLight/Temp
